Repository rHomelab/LabBot-Cogs, pull requests merged in 2020-11, with the labels that each got.

#49 Update Master to be in line with Develop
  .github/ISSUE_TEMPLATE/bot-feature.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/label.yml
  .github/workflows/pythonapp.yml
  .gitignore
  .gitlab-ci.yml
  Docker-README.md
  Dockerfile
  LabBot.png
  README.md
  enforcer/__init__.py
  enforcer/enforcer.py
  enforcer/info.json
  notes/__init__.py
  notes/info.json
  notes/notes.py
  purge/__init__.py
  purge/info.json
  purge/purge.py
  quotes/__init__.py
  quotes/info.json
  quotes/quotes.py
  reactrole/__init__.py
  reactrole/info.json
  reactrole/reactrole.py
  report/__init__.py
  report/info.json
  report/report.py
  requirements.txt
  verify/__init__.py
  verify/info.json
  verify/verify.py
Labels: ci

#48 feat(autoreact): Added autoreact cog
  README.md
  autoreact/__init__.py
  autoreact/autoreact.py
  autoreact/info.json
Labels: doing, enhancement

#52 docs(README.md): Add Issy to author list
  README.md
Labels: documentation

#51 Chore/templates
  .github/ISSUE_TEMPLATE/cog-enhancement.md
  .github/ISSUE_TEMPLATE/new-bot-cog.md
  .github/pull_request_template.md
Labels: ci, documentation

#53 Chore/cleanup
  .github/pull_request_template.md
  .gitlab-ci.yml
  .gitlab/issue_templates/.gitkeep
  .gitlab/issue_templates/bot-feature.md
  .gitlab/merge_request_templates/.gitkeep
  .gitlab/merge_request_templates/merge-request.md
Labels: ci

#56 chore/merge new features and chores to master.
  .github/ISSUE_TEMPLATE/cog-enhancement.md
  .github/ISSUE_TEMPLATE/new-bot-cog.md
  .github/pull_request_template.md
  .gitlab-ci.yml
  .gitlab/issue_templates/.gitkeep
  .gitlab/issue_templates/bot-feature.md
  .gitlab/merge_request_templates/.gitkeep
  .gitlab/merge_request_templates/merge-request.md
  README.md
  autoreact/__init__.py
  autoreact/autoreact.py
  autoreact/info.json
Labels: ci, cog-reactrole

#58 Feat/autoreact enhancements
  autoreact/autoreact.py
Labels: bug

#60 fix(autoreact): fix bug where it would match phrases inside of words
  autoreact/autoreact.py
Labels: bug

#63 ci(pythonapp): forked repos not being able to be merged
  .github/workflows/pythonapp.yml
Labels: bug, ci

#64 docs(readme): tidy up readme with ordering and removing duplicates
  README.md
Labels: documentation

#68 bug(notes): notes deletion
  notes/notes.py
Labels: bug, cog-notes

#70 feat(feed): Added feed cog
  README.md
  feed/__init__.py
  feed/feed.py
  feed/info.json
Labels: enhancement

#71 fix(feed.py): Use member.display_name
  feed/feed.py
Labels: bug

#69 chore: Bring master in-line with develop
  .github/workflows/pythonapp.yml
  Dockerfile
  README.md
  feed/__init__.py
  feed/feed.py
  feed/info.json
  notes/notes.py
Labels: ci

#76 docs(README.md): Added AutoReply to docs
  README.md
  autoreply/__init__.py
  autoreply/autoreply.py
  autoreply/info.json
Labels: new-cog
