Repository rHomelab/LabBot-Cogs, pull requests merged in 2020-12, with the labels that each got.

#78 fix(report): add nullable message to report command
  report/report.py
Labels: bug, cog-report

#80 fix(notes): fix warnings item to use warnings
  notes/notes.py
Labels: bug, cog-notes

#81 chore: bring master in-line with develop
  Docker-README.md
  Dockerfile
  README.md
  autoreply/__init__.py
  autoreply/autoreply.py
  autoreply/info.json
  notes/notes.py
  report/report.py
Labels: cog-notes, cog-report

#83 feat(verify): add welcome message
  verify/verify.py
Labels: cog-verify, enhancement

#85 chore(readme): Improve cog docs.
  README.md
Labels: chore

#89 fix(enforcer): add length check
  enforcer/enforcer.py
Labels: bug, cog-enforcer

#94 fix(quotes.py): Added error checking for quote command
  quotes/quotes.py
Labels: bug

#87 feat(report): add readable timestamp to report cog
  report/report.py
Labels: cog-report, enhancement

#93 feat(penis): Add penis command
  README.md
  penis/__init__.py
  penis/info.json
  penis/penis.py
Labels: cog-penis, enhancement

#91 feat(report): add emergency command
  autoreact/autoreact.py
  report/report.py
Labels: cog-report

#96 Bring master in-line with develop.
  README.md
  autoreact/autoreact.py
  enforcer/enforcer.py
  penis/__init__.py
  penis/info.json
  penis/penis.py
  quotes/quotes.py
  report/report.py
Labels: cog-enforcer, cog-penis, cog-quotes, cog-report

#97 Add xkcd command
  README.md
  xkcd/__init__.py
  xkcd/info.json
  xkcd/xkcd.py
Labels: cog-xkcd, new-cog

#102 feat(verify): add block and unblock commands for verification
  verify/verify.py
Labels: cog-verify

#99 Add cog convert
  README.md
  convert/__init__.py
  convert/convert.py
  convert/info.json
Labels: new-cog
