Repository rHomelab/LabBot-Cogs, pull requests merged in 2021-01, with the labels that each got.

#105 fix(labeler.yml): remove labeler for github issues
  .github/labeler.yml
  .github/workflows/label.yml
Labels: ci

#98 General formatting and linting
  .github/workflows/ci.yml
  .github/workflows/pythonapp.yml
  .isort.cfg
  .pylintrc
  .vscode/settings.json
  README.md
  autoreact/__init__.py
  autoreact/autoreact.py
  autoreply/__init__.py
  autoreply/autoreply.py
  convert/__init__.py
  convert/convert.py
  enforcer/enforcer.py
  feed/__init__.py
  feed/feed.py
  notes/notes.py
  penis/__init__.py
  penis/penis.py
  purge/purge.py
  quotes/__init__.py
  quotes/quotes.py
  reactrole/reactrole.py
  report/report.py
  requirements-ci.txt
  verify/verify.py
  xkcd/__init__.py
  xkcd/xkcd.py
Labels: chore, ci

#111 fix(autoreact): Change permission level from admin to mod
  autoreact/autoreact.py
Labels: bug

#112 feat(CI): Brought pipeline in line with develop
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/label.yml
  .github/workflows/pythonapp.yml
Labels: ci

#113 docs(PR template): Added myself to PR template
  .github/pull_request_template.md
Labels: documentation

#116 docs(readme): Re-style contributors list.
  README.md
Labels: chore
