Repository rHomelab/LabBot-Cogs, pull requests merged in 2021-04, with the labels that each got.

#140 With all due respect, I am head of IT.
  google/google.py
Labels: cog-google, enhancement

#141 docs(readme): Added roleinfo to readme index
  README.md
Labels: cog-roleinfo, documentation

#148 fix(readme): Fix links in readme
  README.md
Labels: documentation

#142 General refactoring
  .github/scripts/json_checker.py
  autoreact/autoreact.py
  autoreply/autoreply.py
  convert/convert.py
  enforcer/enforcer.py
  feed/feed.py
  latex/latex.py
  notes/notes.py
  purge/purge.py
  quotes/quotes.py
  reactrole/reactrole.py
  report/report.py
  roleinfo/roleinfo.py
  verify/verify.py
  xkcd/xkcd.py
Labels: chore

#149 Add VSCode tasks
  .flake8
  .github/workflows/ci.yml
  .vscode/tasks.json
  README.md
  pyproject.toml
Labels: enhancement

#150 Enforcer improvements
  enforcer/enforcer.py
  enforcer/info.json
Labels: bug, cog-enforcer, enhancement

#145 Verify & CI changes
  .github/scripts/json_checker.py
  .github/workflows/ci.yml
  .gitignore
  verify/info.json
  verify/verify.py
Labels: bug, chore, ci, cog-verify, enhancement

#151 Bring master inline with develop
  .flake8
  .github/schemas/cog.json
  .github/schemas/repo.json
  .github/scripts/compile_requirements.py
  .github/scripts/json_checker.py
  .github/workflows/ci.yml
  .gitignore
  .isort.cfg
  .pylintrc
  .vscode/tasks.json
  README.md
  autoreact/autoreact.py
  autoreact/info.json
  autoreply/autoreply.py
  autoreply/info.json
  convert/convert.py
  convert/info.json
  enforcer/enforcer.py
  enforcer/info.json
  feed/feed.py
  feed/info.json
  google/google.py
  google/info.json
  info.json
  latex/__init__.py
  latex/info.json
  latex/latex.py
  notes/info.json
  notes/notes.py
  penis/info.json
  purge/info.json
  purge/purge.py
  pyproject.toml
  quotes/info.json
  quotes/quotes.py
  reactrole/info.json
  reactrole/reactrole.py
  report/info.json
  report/report.py
  requirements-ci.txt
  requirements.txt
  roleinfo/__init__.py
  roleinfo/info.json
  roleinfo/roleinfo.py
  verify/info.json
  verify/verify.py
  xkcd/info.json
  xkcd/xkcd.py
Labels: chore, enhancement

#152 fix(info.json): Fix typo in repo's info.json
  info.json
Labels: documentation

#153 fix(report): Hotfix - pre report check
  report/report.py
Labels: bug

#154 [HOTFIX] Report cog
  info.json
  report/report.py
Labels: bug
