Repository rHomelab/LabBot-Cogs, pull requests merged in 2021-07, with the labels that each got.

#158 feat(letters): Add letters cog
  README.md
  letters/__init__.py
  letters/info.json
  letters/letters.py
Labels: new-cog

#159 Bring master inline with develop.
  README.md
  letters/__init__.py
  letters/info.json
  letters/letters.py
  notes/info.json
  notes/notes.py
Labels: cog-letters, cog-notes, enhancement, new-cog

#161 feat(letters): Various enhancements
  README.md
  letters/letters.py
Labels: cog-letters, enhancement

#162 Bring master inline with develop
  README.md
  letters/letters.py
Labels: cog-letters, enhancement

#164 Sentry cog
  README.md
  sentry/__init__.py
  sentry/info.json
  sentry/sentry.py
Labels: new-cog

#165 Bring master inline with develop.
  README.md
  sentry/__init__.py
  sentry/info.json
  sentry/sentry.py
Labels: cog-sentry

#166 Sentry updates
  README.md
  sentry/sentry.py
Labels: cog-sentry, enhancement

#168 Sentry updates electric boogaloo
  sentry/sentry.py
Labels: bug

#167 Bring master inline with develop
  README.md
  sentry/sentry.py
Labels: cog-sentry, enhancement

#169 sentry: fix optional variables not checked for existence
  sentry/sentry.py
Labels: bug, cog-sentry

#170 Fix breaking Sentry bug
  sentry/sentry.py
Labels: bug, cog-sentry

#172 Update PR template
  .github/pull_request_template.md
Labels: chore, documentation

#171 feat(sentry): Clarify test functionality
  sentry/sentry.py
Labels: cog-sentry, enhancement
