Repository rHomelab/LabBot-Cogs, pull requests merged in 2021-02, with the labels that each got.

#119 Feat/101 latex rendering
  README.md
  latex/__init__.py
  latex/info.json
  latex/latex.py
Labels: cog-latex, new-cog

#118 DM report/emergency confirmation.
  report/report.py
Labels: cog-report, enhancement

#114 docs(readme): add info about enforcer, notes, purge & reports
  README.md
Labels: documentation
