Repository rHomelab/LabBot-Cogs, pull requests merged in 2021-08, with the labels that each got.

#173 feat(enforcer): Add maxchars attribute
  README.md
  enforcer/enforcer.py
Labels: enhancement, cog-enforcer

#174 [FIX] Punctuation spacing/substitution in letters command
  letters/info.json
  letters/letters.py
Labels: bug, cog-letters

#176 Feat/timestamps
  notes/__init__.py
  notes/notes.py
  quotes/quotes.py
  report/__init__.py
  report/report.py
  roleinfo/__init__.py
  roleinfo/roleinfo.py
Labels: enhancement, cog-notes, cog-report, cog-quotes, cog-roleinfo

#175 Bring master inline with develop
  .github/pull_request_template.md
  README.md
  enforcer/enforcer.py
  letters/info.json
  letters/letters.py
  notes/__init__.py
  notes/notes.py
  quotes/quotes.py
  report/__init__.py
  report/report.py
  roleinfo/__init__.py
  roleinfo/roleinfo.py
  sentry/sentry.py
Labels: documentation, cog-enforcer, cog-letters, cog-sentry
