Repository rHomelab/LabBot-Cogs, pull requests merged in 2021-12, with the labels that each got.

#187 Make xkcd title a clickable link
  xkcd/xkcd.py
Labels: cog-xkcd

#190 Bring master inline with develop
  sentry/sentry.py
Labels: cog-sentry

#191 Notes cog refactor
  notes/__init__.py
  notes/abstracts.py
  notes/info.json
  notes/notes.py
  notes/utils.py
Labels: bug, enhancement, cog-notes

#182 Custom message cog
  README.md
  custom_msg/__init__.py
  custom_msg/custom_msg.py
  custom_msg/info.json
  custom_msg/interactive_session.py
Labels: new-cog
