Repository rHomelab/LabBot-Cogs, pull requests merged in 2021-03, with the labels that each got.

#125 Fix pagify issue in #120
  enforcer/enforcer.py
  reactrole/reactrole.py
Labels: bug

#122 docs(readme): Spelling, broken link, etc.
  README.md
Labels: chore, documentation

#126 chore(repo): Bring master in-line with develop.
  README.md
  enforcer/enforcer.py
  latex/__init__.py
  latex/info.json
  latex/latex.py
  reactrole/reactrole.py
  report/report.py
Labels: chore

#128 Fix #127 - cog failing to load due to too many parameters.
  latex/__init__.py
Labels: cog-latex

#132 #124 Report channel blocklist
  README.md
  report/report.py
Labels: cog-report, enhancement

#135 docs(verify): Documentation improvements.
  README.md
  verify/verify.py
Labels: cog-verify, documentation

#136 CI improvements
  .github/workflows/ci.yml
  .isort.cfg
  .pylintrc
  README.md
  autoreact/autoreact.py
  autoreact/info.json
  autoreply/autoreply.py
  autoreply/info.json
  convert/convert.py
  convert/info.json
  enforcer/enforcer.py
  enforcer/info.json
  feed/info.json
  google/info.json
  latex/latex.py
  notes/info.json
  notes/notes.py
  penis/info.json
  purge/info.json
  purge/purge.py
  pyproject.toml
  quotes/info.json
  quotes/quotes.py
  reactrole/info.json
  reactrole/reactrole.py
  report/info.json
  report/report.py
  requirements.py
  requirements.txt
  verify/info.json
  verify/verify.py
  xkcd/info.json
  xkcd/xkcd.py
Labels: ci

#134 feat(roleinfo): Added roleinfo cog
  README.md
  requirements.py
  roleinfo/__init__.py
  roleinfo/info.json
  roleinfo/roleinfo.py
Labels: new-cog

#137 feat(info.json): Add info.json for repo
  info.json
Labels: chore, documentation

#139 feat(CI): Added JSON validation workflow
  .github/schemas/cog.json
  .github/schemas/repo.json
  .github/scripts/compile_requirements.py
  .github/scripts/json_checker.py
  .github/workflows/ci.yml
  autoreact/info.json
  autoreply/info.json
  convert/info.json
  enforcer/info.json
  feed/info.json
  google/info.json
  latex/info.json
  notes/info.json
  penis/info.json
  purge/info.json
  quotes/info.json
  reactrole/info.json
  report/info.json
  requirements-ci.txt
  roleinfo/info.json
  verify/info.json
  xkcd/info.json
Labels: ci
