Repository rHomelab/LabBot-Cogs, pull requests merged in 2022-03, with the labels that each got.

#199 feat(penis): append 'lol small' if len <= 6
  penis/penis.py
Labels: enhancement, cog-penis

#198 Detect scam links and delete them
  README.md
  phishingdetection/__init__.py
  phishingdetection/info.json
  phishingdetection/phishingdetection.py
Labels: new-cog

#200 Bring master inline with develop.
  README.md
  penis/penis.py
  phishingdetection/__init__.py
  phishingdetection/info.json
  phishingdetection/phishingdetection.py
Labels: enhancement, new-cog, cog-penis, cog-phishdetect

#201 Fortify URL matching in phishing detection cog
  phishingdetection/phishingdetection.py
Labels: bug, cog-phishdetect

#202 Bring master inline with develop
  phishingdetection/phishingdetection.py
Labels: bug, cog-phishdetect
