Repository rHomelab/LabBot-Cogs, pull requests merged in 2023-05, with the labels that each got.

#217 timeout: fix boosted member handling, add logging
  README.md
  timeout/timeout.py
Labels: bug, cog-timeout

#226 Fix: use Member.display_avatar.url instead of Member.avatar_url
  enforcer/enforcer.py
  report/report.py
  timeout/timeout.py
  verify/verify.py
Labels: bug, cog-enforcer, cog-verify, cog-report, cog-timeout

#227 Fix: timeout cog exception
  timeout/timeout.py
Labels: bug, cog-timeout

#223 feat/177 Tags Cog
  README.md
  tags/__init__.py
  tags/info.json
  tags/tags.py
Labels: new-cog

#230 discordpy v2 migrations
  enforcer/enforcer.py
  verify/verify.py
Labels: bug, cog-enforcer, cog-verify

#219 Add reworked version of Markov cog
  README.md
  markov/__init__.py
  markov/info.json
  markov/markov.py
  markov/notice.txt
Labels: new-cog

#233 fix/autoreact: catch and log exception if message not found
  autoreact/autoreact.py
Labels: bug, cog-autoreact
