Repository rHomelab/LabBot-Cogs, pull requests merged in 2024-03, with the labels that each got.

#259 Reply with note/warning note ID as requested in #235.
  notes/abstracts.py
  notes/notes.py
  notes/utils.py
Labels: enhancement, cog-notes

#260 notes: sort notes/warns by date
  notes/abstracts.py
  notes/utils.py
Labels: enhancement, cog-notes

#258 Feat/243 BanCount Cog
  README.md
  bancount/__init__.py
  bancount/bancount.py
  bancount/info.json
Labels: new-cog, cog-bancount

#261 bancount: remove limitation on number of bans retrieved and catch missing permissions
  bancount/bancount.py
Labels: bug, cog-bancount

#263 Iss/262 bancount list error
  bancount/bancount.py
Labels: bug, cog-bancount

#257 Feat/238 Additional Tags Features
  README.md
  tags/abstracts.py
  tags/tags.py
  tags/utils.py
Labels: enhancement, cog-tags
