Repository rHomelab/LabBot-Cogs, pull requests merged in 2024-12, with the labels that each got.

#285 fix(tags): escape markdown, pagify output
  tags/tags.py
Labels: cog-tags

#286 docs: replace manual list of contributors
  README.md
Labels: documentation

#290 Resolves #289: Read-Only December
  README.md
  isitreadonlyfriday/isitreadonlyfriday.py
Labels: enhancement, cog-isitreadonlyfriday
