Repository rHomelab/LabBot-Cogs, pull requests merged in 2024-07, with the labels that each got.

#267 adding logging to the prom cog for easier debugging
  prometheus_exporter/main.py
  prometheus_exporter/prom_server.py
  prometheus_exporter/stats.py
  prometheus_exporter/utils.py
Labels: enhancement, cog-prometheus-metrics

#268 fix prometheus_exporter logging, isort, activity metrics addition
  prometheus_exporter/main.py
  prometheus_exporter/prom_server.py
  prometheus_exporter/stats.py
  prometheus_exporter/utils.py
Labels: bug, cog-prometheus-metrics

#269 Fix/phishing detection
  .vscode/settings.json
  phishingdetection/phishingdetection.py
Labels: bug, cog-phishdetect

#270 docs: fix 'Red' capitalisation and name
  README.md
Labels: documentation

#273 fix(report): reimplement strtobool to eliminate distutils dependency
  report/report.py
Labels: cog-report
