Repository rHomelab/LabBot-Cogs, pull requests merged in 2025-02, with the labels that each got.

#295 Resolves #294 to properly render LaTeX statements.
  latex/latex.py
Labels: bug, cog-latex

#297 chore: stop bugging Issy in every PR
  .github/pull_request_template.md
Labels: chore

#293 feat(role_welcome): new cog
  README.md
  role_welcome/__init__.py
  role_welcome/info.json
  role_welcome/role_welcome.py
Labels: new-cog

#300 feat(role_welcome): add `backfill_welcomed_users` command
  README.md
  role_welcome/role_welcome.py
Labels: cog-rolewelcome

#264 get ci pipelines functional, and switch to ruff linter/formatter
  .flake8
  .github/actions/check-json/json_checker.py
  .github/actions/setup/action.yml
  .github/actions/setup/compile_requirements.py
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/tasks.json
  README.md
  autoreact/autoreact.py
  autoreply/autoreply.py
  bancount/bancount.py
  betterping/betterping.py
  convert/convert.py
  custom_msg/custom_msg.py
  custom_msg/interactive_session.py
  enforcer/enforcer.py
  feed/__init__.py
  feed/feed.py
  isitreadonlyfriday/isitreadonlyfriday.py
  jail/abstracts.py
  jail/jail.py
  jail/utils.py
  letters/letters.py
  markov/markov.py
  notes/abstracts.py
  notes/notes.py
  notes/utils.py
  penis/penis.py
  phishingdetection/phishingdetection.py
  prometheus_exporter/main.py
  prometheus_exporter/prom_server.py
  prometheus_exporter/stats.py
  prometheus_exporter/utils.py
  purge/purge.py
  pyproject.toml
  quotes/quotes.py
  reactrole/reactrole.py
  report/report.py
  requirements-ci.txt
  requirements-dev.txt
  role_welcome/role_welcome.py
  roleinfo/roleinfo.py
  sentry/sentry.py
  tags/abstracts.py
  tags/tags.py
  tags/utils.py
  tests/test_phishingdetection.py
  timeout/timeout.py
  topic/topic.py
  verify/verify.py
  xkcd/xkcd.py
Labels: ci

#307 fix: correct string formatting in Note class
  notes/notes.py
  notes/utils.py
Labels: cog-notes

#308 chore: update requirements
  requirements-dev.txt
  requirements.txt
Labels: chore

#309 Improve `report` cog
  README.md
  report/report.py
Labels: cog-report

#310 fix(notes): escape markdown in usernames
  notes/notes.py
  notes/utils.py
Labels: bug, cog-notes
